@import 'variables';
@import 'spec/index';
@import 'vendor/index';

body {
    padding-top: 16vh;
}

.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
    top: 0;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50% !important;
}

.checkbox-xl .custom-control-label {
    padding-top: 0;
    padding-left: 2.3rem;

    p {
        margin-bottom: 0;
    }
}

.products-container {
    height: 65vh;
    overflow-x: auto;
    .row {
        padding: 0;
        margin: 0;
    }
}

.card.top {
    position: relative;
    margin: -7em auto 24px;
}