.bg-gradient {
    background: $primary-color;
    background: linear-gradient(90deg, darken($primary-color, 1%) 0%,
            $primary-color 48%,
            lighten($primary-color, 1%) 100%);
}

.bg-img {
    background-image: url('/img/trans-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width : 955px) {
        background-size: cover;
    }
}

.bg {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-primary {
    background-color: $primary-color!important;
}
.bg-secondary {
    background-color: $secondary-color!important;
}
.bg-lg-blue {
    background-color: $lg-blue-color!important;
}
.bg-red {
    background-color: $red-color!important;
}
.bg-green {
    background-color: $green-color!important;
}