.text-primary {
    color: $primary-color!important;
}

.text-secondary {
    color: $secondary-color!important;
}

.text-lg-blue {
    color: $lg-blue-color!important;
}

.text-red {
    color: $red-color!important;
}

.text-green {
    color: $green-color!important;
}

.text-sm {
    font-size: 0.8em;
}
.text-md {
    font-size: 1em;
}
.text-lg {
    font-size: 1.2em;
}

.text-xl {
    font-size: 1.6em;
}